@model Proyecto1.Models.roles

@{
    ViewBag.Title = "Details";
    var descripcionRol = Model.descripcion;
}

<h2>Detalles de usuario: @descripcionRol</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el usuario " + @descripcionRol, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
