@model IEnumerable<Proyecto1.Models.roles>

<select class="form-control" id="id" name="id">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.descripcion</option>
}
</select>
